[GENERAL]
type = excel #excel or others 
file = xxx.csv
# Specify delimiter to use into double quote
delimiter = ";"
encoding = utf-8
engine = c
# Don't set value if you don't want to merge the file
flag_merge = 1
# Don't set value if you don't want to modify values in file
flag_modify = 

[COLUMNSGENERAL]
0 = link
1 = title
2 = cover
4 = publisher
5 = description
7 = authors
8 = isbn
9 = price
10 = language
12 = advertiser
13 = genres
14 = category

[MERGEFILE]
file = xxx.csv
on = isbn
delimiter = ";"
encoding = utf-8
engine = c

[INGESTION]
url_api = 
url_api_test = 
file = xxx.csv
chunkrows = 10000
start = 1
# Don't set value of parameter above if you want to read all file
rows_to_read = 5 
# Specify (into double quote) delimiter to use 
delimiter = ","
encoding = utf-8
engine = c

#key column correspond to position of the column into the file
[COLUMNSINGESTION]
0 = link
1 = title
2 = cover
3 = publisher
4 = description
5 = authors
6 = isbn
7 = price
8 = language
9 = advertiser
10 = genres
11 = category

#set the columns you want to modify
[MODIFIERSCOLS]
col1 = 
col2 = 
col3 = 

#set original value and the new value to substitute
[MODIFIERSVALUES]
nan =
example = test
(Vuoto) =

#set original column name and the new column name
[MODIFIERSNAMES]
genres = genre

#specify column to delete
[DROPCOLUMNS]
0 = link

[STATISTICSCOLS]
col1 = 
col2 = 

[SUMMARY]
results_file = xxx.csv