[GENERAL]
file = xxx.csv
# Specify delimiter to use into double quote
delimiter = ";"
encoding = utf-8
engine = c
# Don't set value if you don't want to merge the file
flag_merge = 1
# Don't set value if you don't want to modify values in file
flag_modify = 

[MERGEFILE]
file = xxx.csv
delimiter = ";"
encoding = utf-8
engine = c

[INGESTION]
url_api = https://ubook.store/ibs/book
url_api_test = http://ubook.local/ibs/book
file = xxx.csv
chunkrows = 10000
start = 1
# Don't set value of parameter above if you want to read all file
rows_to_read = 1 
# Specify (into double quote) delimiter to use 
delimiter = ";"
encoding = utf-8
engine = c

#key column correspond to position of the column into the file
[COLUMNS]
0 = link
1 = title
2 = cover
4 = publisher
5 = description
7 = authors
8 = isbn
9 = price
10 = language
12 = advertiser
13 = genres
14 = category
